In [6]:
import pandas as pd
import numpy as np

points = pd.read_csv("season_data/ff_points.csv")
adp = pd.read_csv("adp_data/adp.csv")
history = pd.read_csv("season_data/draft_history.csv")

In [7]:
points = points[points["Year"]!=2013].reset_index(drop=True)
points

,Player,Team,FantPos,Age,G,Cmp,PassAtt,PassYds,PassTD,Int,...,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,PPR,PosRank,OvRank,Year
0,DeMarcoMurray,Cowboys,RB,26,16,0.00,0.00,0.00,0.00,0.00,...,115.31,0.81,4.00,3.56,26.00,0.00,21.94,1,1.0,2014
1,LeVeonBell,Steelers,RB,22,16,0.00,0.00,0.00,0.00,0.00,...,85.06,0.50,6.56,5.19,53.38,0.19,23.16,2,2.0,2014
2,MarshawnLynch,Seahawks,RB,28,16,0.00,0.00,0.00,0.00,0.00,...,81.62,0.81,3.00,2.31,22.94,0.25,18.89,3,3.0,2014
3,AntonioBrown,Steelers,WR,26,16,0.12,0.12,1.25,0.06,0.00,...,0.81,0.00,11.31,8.06,106.12,0.81,24.18,1,4.0,2014
4,MattForte,Bears,RB,29,16,0.00,0.00,0.00,0.00,0.00,...,64.88,0.38,8.12,6.38,50.50,0.25,21.66,4,5.0,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4917,TravisBenjamin,49ers,NaN,32,10,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.50,0.00,0.00,0.00,-0.20,260,NaN,2021
4918,TrentonCannon,2TM,RB,27,12,0.00,0.00,0.00,0.00,0.00,...,0.33,0.00,0.00,0.00,0.00,0.00,-0.13,179,NaN,2021
4919,JohnWolford,Rams,QB,26,3,0.33,1.33,1.67,0.00,0.33,...,-0.33,0.00,0.00,0.00,0.00,0.00,-0.63,84,NaN,2021
4920,JoshRosen,Falcons,QB,24,4,0.50,2.75,4.75,0.00,0.50,...,0.00,0.00,0.00,0.00,0.00,0.00,-0.80,85,NaN,2021
4921,DiontaeSpencer,Broncos,WR,29,15,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.27,0.07,-0.20,0.00,-0.22,261,NaN,2021

In [3]:
adp.head()

            Player  adp  Year
0     LeSean McCoy  2.0  2014
1   Jamaal Charles  2.5  2014
2   Calvin Johnson  4.1  2014
3       Matt Forte  4.2  2014
4  Adrian Peterson  5.3  2014

In [4]:
history.head()

             Player  draft_pick  draft_year
0  Keyshawn Johnson           1        1996
1       Kevin Hardy           2        1996
2       Simeon Rice           3        1996
3    Jonathan Ogden           4        1996
4      Cedric Jones           5        1996

In [8]:
adp_and_draft = pd.merge(adp, history, how="inner", on="Player")
adp_and_draft["Player"] = adp_and_draft["Player"].str.replace(" ", "")
adp_and_draft

               Player    adp  Year  draft_pick  draft_year
0         LeSeanMcCoy    2.0  2014          53        2009
1         LeSeanMcCoy   24.4  2015          53        2009
2         LeSeanMcCoy   22.0  2016          53        2009
3         LeSeanMcCoy    7.8  2017          53        2009
4         LeSeanMcCoy   29.9  2018          53        2009
...               ...    ...   ...         ...         ...
1212  KennethGainwell  154.8  2021         150        2021
1213    GeraldEverett  156.6  2021          44        2017
1214    PatFreiermuth  157.3  2021          55        2021
1215         MacJones  157.4  2021          15        2021
1216    TuaTagovailoa  160.6  2021           5        2020

[1217 rows x 5 columns]

In [9]:
ff_data = pd.merge(points, adp_and_draft, how="inner", on=["Player", "Year"])
ff_data.head()

,Player,Team,FantPos,Age,G,Cmp,PassAtt,PassYds,PassTD,Int,...,Rec,RecYds,RecTD,PPR,PosRank,OvRank,Year,adp,draft_pick,draft_year
0,DeMarcoMurray,Cowboys,RB,26,16,0.00,0.00,0.00,0.00,0.0,...,3.56,26.00,0.00,21.94,1,1.0,2014,14.2,71,2011
1,MarshawnLynch,Seahawks,RB,28,16,0.00,0.00,0.00,0.00,0.0,...,2.31,22.94,0.25,18.89,3,3.0,2014,15.9,12,2007
2,AntonioBrown,Steelers,WR,26,16,0.12,0.12,1.25,0.06,0.0,...,8.06,106.12,0.81,24.18,1,4.0,2014,18.4,195,2010
3,MattForte,Bears,RB,29,16,0.00,0.00,0.00,0.00,0.0,...,6.38,50.50,0.25,21.66,4,5.0,2014,4.2,44,2008
4,EddieLacy,Packers,RB,24,16,0.00,0.00,0.00,0.00,0.0,...,2.62,26.69,0.25,17.04,6,7.0,2014,6.2,61,2013

In [10]:
ff_data["Experience"] = ff_data["Year"] - ff_data["draft_year"]
ff_data.head()

,Player,Team,FantPos,Age,G,Cmp,PassAtt,PassYds,PassTD,Int,...,RecYds,RecTD,PPR,PosRank,OvRank,Year,adp,draft_pick,draft_year,Experience
0,DeMarcoMurray,Cowboys,RB,26,16,0.00,0.00,0.00,0.00,0.0,...,26.00,0.00,21.94,1,1.0,2014,14.2,71,2011,3
1,MarshawnLynch,Seahawks,RB,28,16,0.00,0.00,0.00,0.00,0.0,...,22.94,0.25,18.89,3,3.0,2014,15.9,12,2007,7
2,AntonioBrown,Steelers,WR,26,16,0.12,0.12,1.25,0.06,0.0,...,106.12,0.81,24.18,1,4.0,2014,18.4,195,2010,4
3,MattForte,Bears,RB,29,16,0.00,0.00,0.00,0.00,0.0,...,50.50,0.25,21.66,4,5.0,2014,4.2,44,2008,6
4,EddieLacy,Packers,RB,24,16,0.00,0.00,0.00,0.00,0.0,...,26.69,0.25,17.04,6,7.0,2014,6.2,61,2013,1

In [11]:
ff_data["Rookie"] = (ff_data["Experience"]==0)*1
ff_data["Soph"] = (ff_data["Experience"]==1)*1
ff_data["Third"] = (ff_data["Experience"]==2)*1

In [12]:
ff_data.to_csv("ff_data.csv", encoding='utf-8', index=False)